RewriteEngine on 
RewriteBase /ab-app/
RewriteRule ^wrapper/(.*)$ http://140.203.155.169:8998/$1 [P]

# ProxyPass /wrapper/ http://140.203.155.169:8998/
# ProxyPassReverse /wrapper/ http://140.203.155.169:8998/